[maxscale]
threads=auto
debug=enable-statement-logging
skip_name_resolve=true
log_debug=false
log_info=true
log_warning=true

[HORNOS]
type=server
address=172.20.0.20
port=3306
protocol=MariaDBBackend

[SANLORENZO]
type=server
address=172.21.0.20
port=3306
protocol=MariaDBBackend

[TUCUMAN]
type=server
address=172.22.0.20
port=3306
protocol=MariaDBBackend

[Replication-Monitor]
type=monitor
module=mariadbmon
servers=HORNOS, SANLORENZO, TUCUMAN
servers_no_promotion=TUCUMAN
user=monitor
password=monitor_pass
monitor_interval=2000ms
auto_failover=true
auto_rejoin=true
master_conditions=primary_monitor_master
cooperative_monitoring_locks=majority_of_all

[Splitter-Service]
type=service
router=readconnroute
router_options=master
servers=HORNOS, SANLORENZO
user=maxscaleuser
password=router_pass
enable_root_user=true

[Splitter-Listener]
type=listener
service=Splitter-Service
protocol=MariaDBClient
port=4006