[maxscale]
threads=auto
admin_host=0.0.0.0
admin_port=8989
admin_secure_gui=false
admin_auth=false
log_info=true
log_debug=true
log_warning=true
log_notice=true

syslog=0
# =========================
# MONITOR - HORNOS
# =========================
[MariaDB-Monitor]
type=monitor
module=mariadbmon

servers=mariadb-hornos,mariadb-sanlorenzo,mariadb-tucuman
servers_no_promotion=mariadb-tucuman

user=maxscale_monitor
password=monitor_pass

monitor_interval=2000ms
auto_failover=true
auto_rejoin=true
failcount=3

# CLAVE: Tucumán nunca se promueve a master
enforce_simple_topology=true

# =========================
# SERVICE - HORNOS
# =========================
[ReadWriteSplit-Service]
type=service
router=readwritesplit
servers=mariadb-hornos,mariadb-sanlorenzo

user=maxscale_router
password=router_pass

# =========================
# LISTENER - HORNOS
# =========================
[ReadWriteSplit-Listener]
type=listener
service=ReadWriteSplit-Service
protocol=MariaDBClient
port=4006

# =========================
# SERVERS - HORNOS PERSPECTIVE
# =========================
[mariadb-hornos]
type=server
address=172.20.0.20
port=3306
priority=100

[mariadb-sanlorenzo]
type=server
address=172.21.0.20
port=3306
priority=50

[mariadb-tucuman]
type=server
address=172.22.0.20
port=3306
priority=0