[maxscale]
threads=auto
admin_host=0.0.0.0
admin_port=8989
admin_secure_gui=false
admin_auth=false
log_info=true
log_debug=true
log_warning=true
log_notice=true
debug=enable-statement-logging

syslog=0
# =========================
# SERVERS - SAN LORENZO PERSPECTIVE
# =========================
[mariadb-hornos]
type=server
address=172.20.0.20
port=3306
protocol=MariaDBBackend

[mariadb-sanlorenzo]
type=server
address=172.21.0.20
port=3306
protocol=MariaDBBackend

[mariadb-tucuman]
type=server
address=172.22.0.20
port=3306
protocol=MariaDBBackend

# =========================
# MONITOR - SAN LORENZO (ACTIVE MONITOR)
# =========================
[Replication-Monitor]
type=monitor
module=mariadbmon
servers=mariadb-hornos,mariadb-sanlorenzo,mariadb-tucuman
servers_no_promotion=mariadb-tucuman
user=maxscale_monitor
password=monitor_pass
monitor_interval=2000ms
auto_failover=true
auto_rejoin=true
master_conditions=primary_monitor_master
cooperative_monitoring_locks=majority_of_all
assume_unique_hostnames=true

# =========================
# SERVICE - SAN LORENZO
# =========================
[Splitter-Service]
type=service
router=readconnroute
router_options=master
servers=mariadb-hornos,mariadb-sanlorenzo
user=maxscale_router
password=router_pass
enable_root_user=true

# =========================
# LISTENER - SAN LORENZO
# =========================
[Splitter-Listener]
type=listener
service=Splitter-Service
protocol=MariaDBClient
port=4006