global
    log stdout format raw local0

defaults
    mode tcp
    log global
    timeout connect 5s
    timeout client  1m
    timeout server  1m

frontend mysql_front
    bind *:4006
    default_backend maxscale_backend

backend maxscale_backend
    balance roundrobin
    option tcp-check
    default-server inter 2s fall 3 rise 2

    server max1 maxscale-hornos:4006 check
    server max2 maxscale-sanlorenzo:4006 check
