[core]
executor = CeleryExecutor
simple_auth_manager_all_admins = True
dags_are_paused_at_creation = False
load_examples = False

[database]
sql_alchemy_conn = mysql+mysqldb://airflow:airflow_pass@maxscale:4006/airflow

[celery]
broker_url = redis://redis:6379/0
result_backend = db+mysql://airflow:airflow_pass@maxscale:4006/airflow

[scheduler]
min_file_process_interval = 10
