[maxscale]
threads=auto
admin_host=0.0.0.0
admin_port=8989
admin_secure_gui=false

# Monitor
[MariaDB-Monitor]
type=monitor
module=mariadbmon
servers=mariadb-primary,mariadb-replica
user=monitor
password=monitor_pass
monitor_interval=5s
auto_failover=true
auto_rejoin=true
failcount=3

# Service
[ReadWriteSplit-Service]
type=service
router=readconnroute
router_options=master
servers=mariadb-primary,mariadb-replica
user=maxscaleuser
password=router_pass

# Listener
[ReadWriteSplit-Listener]
type=listener
service=ReadWriteSplit-Service
protocol=MariaDBClient
port=4006

# Servers
[mariadb-primary]
type=server
address=mariadb-primary
port=3306

[mariadb-replica]
type=server
address=mariadb-replica
port=3306